.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
  width: fit-content;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  background-color: #1877f2;
  color: white;
  max-width: 300px;
}

.ownMessageBottom {
  font-size: 12px;
  margin-right: 56px;
}

.messageBottom {
  font-size: 12px;
  margin-left: 45px;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(248, 229, 229);
  color: black;
  margin-right: 10px;
}


.meta-own {
  font-size: 10px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
  margin-right: 55px;
}

.meta {
  font-size: 10px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
  margin-left: 45px;
}