 .custom-drop-file{
      position: relative;
      padding: 24px 16px;
      border: 1px solid #e4e4e4;
      cursor: pointer;
    }
    .custom-drop-file input {
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 1;
      cursor: pointer;
    }
    .custom-drop-file img {
      margin-bottom: 8px;
      width: 40px;
    }
    .custom-drop-file p {
      margin: 0;
      color: #a4a4a4;
    }

   @media only screen and (max-width: 600px) {
      .log{
        margin-left: 4px !important;
      }
    }

    .display{
      display: none;
    }

    #img-preview {
  display: none; 
  width: 155px;   
  border: 2px dashed #333;  
  margin-bottom: 20px;
}
#img-preview img {  
  width: 100%;
  height: auto; 
  display: block;   
}

[type="file"] {
  height: 0;  
  width: 0;
  overflow: hidden;
}
[type="file"] + label {
  font-family: sans-serif;
  background: #f44336;
  padding: 10px 30px;
  border: 2px solid #f44336;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}
[type="file"] + label:hover {
  background-color: #fff;
  color: #f44336;
}