
  
  .inp {
    margin: 5px;
    height: 35px;
    width: 50px;
    border: solid;
    border-radius: 5px;
    background: #eef2f3;
    display: flex !important;
    justify-content: center;
    float: left;
    text-align: center;
    /* font-family: arimo; */
    /* font-size: 1.2rem; */
  }


  .formTextWrapper {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  
  .formText1 {
    font-weight: 600;
    font-size: 15px;
  }
  
