.chatOnlineFriend {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid white;
}

.chatOlineBadge {
  position: absolute;
  height: 10px;
  border-radius: 50%;
  background-color: limegreen;
  width: 10px;
  top: 2px;
  right: 2px;
}

@media only screen and (max-width: 600px) { 
  .show {
    display: none;
  }
}

