  
.errorText {
    font-size: 200px;
    color: rgb(255, 183, 183);
}

.errorCode {
    font-size: 20px;
    font-weight: 600;
    color: rgb(7, 0, 20);
}

.errorDescription {
    font-weight: 600;
    color: rgb(7, 0, 20);
    margin-bottom: 20px;
}

   @media only screen and (max-width: 600px) {
        .errorText{
            font-size: 120px ;
        }    
    }
  