.chatBoxBottom {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.chatMessageInput {
  display: inline;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 10px;
}


.input_container {
  position: relative;
}

.input_img {
  position: absolute;
  display: inline;
  margin-left: -40px;
  margin-top: 3px;
  width: 30px;
  /* height: 5px; */
  cursor: pointer;
}

.emoji-picker-react {
  height: 180px !important;
}
